[TYPECHECK]
# List of members which are set dynamically and missed by Pylint inference
# system, and so shouldn't trigger E1101 when accessed.
generated-members=numpy.*, torch.*
good-names-rgxs=^[_a-z][_a-z0-9]?$
; ^          # starts with
; [_a-z]     # 1st character required
; [_a-z0-9]? # 2nd character optional
; $          # ends with

[MESSAGES CONTROL]
disable=logging-fstring-interpolation
disable=protected-access